@media screen and (min-width:481px) {
  nav {
    position: fixed; } }

img#ktchlogo {
  width: 150px; }

li {
  display: inline;
  font-weight: 500;
  padding-right: 25px;
  color: #B53F32; }

li a {
  text-decoration: none;
  color: #B53F32; }

li a:hover {
  text-decoration: underline;
  color: #B53F32; }

ul {
  text-align: center; }

img {
  padding: 25px 25px 25px 0px; }

#kitchenlogo {
  padding-left: 40px; }
