---
layout: home
title: Short films made to order
description: the Kitchen is a Delaware-based film and video production house specializing in short documentary and narrative work.
---

{% for post in site.posts | limit: 1 %}

<article class="top">
	{% if post.video %}
	<iframe src="http://player.vimeo.com/video/{{ post.video }}" width="1280" height="720" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	{% else %}
	<img class="postimage" src="/images/{{ post.image }}" alt="{{ post.image }}">
	{% endif %}
	<a href="{{ post.url }}"><h3 class="league">{{ post.title }}</h3></a>
	<p>{{ post.synopsis }}</p> <p><a href="{{ post.url }}">read post</a></p>
</article>

{% endfor %}

<section class="featured">
	
{% for post in site.posts | offset: 1 %}

<article class="grid">
	{% if post.video %}
	<iframe src="http://player.vimeo.com/video/{{ post.video }}" width="1280" height="720" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	{% else %}
	<img class="postimage" src="/images/{{ post.image }}" alt="{{ post.image }}">
	{% endif %}
	<a href="{{ post.url }}"><h3 class="league">{{ post.title }}</h3></a>
	<p>{{ post.synopsis }}</p> <p><a href="{{ post.url }}">read post</a></p>
</article>

{% endfor %}
	
</section>

<section class="more">
	
</section>
