---
layout: home
title: Short films made to order
description: the Kitchen is a Delaware-based film and video production house specializing in short documentary and narrative work.
---

<!--<script type="text/javascript">-->
    <!--$(function(){-->
        <!--$('#invite').modal('show');-->
    <!--});-->
<!--</script>-->

<!--<div class="modal hide fade" id="invite">-->

  <!--<h1 class="grandopening neutrabold">Grand</h1>-->
  <!--<h1 class="grandopeningtwo neutrabold">Opening!</h1>-->

  <!--<h4 class="date neutrabook">Friday March 1, 2013 | 5PM to 9PM</h4>-->
    
  <!--<p class="invitation neutrabook">You are cordially invited to join us for delicious food, wine, and popcorn as we celebrate the opening of our new film and video production house at 227 North Market Street.</p>-->
  
  <!--<section id="invitelogo"><img src="/kitchenlogo.png" alt="the Kitchen Logo" class="invitelogo">-->
  <!--<h6 class="tagline neutrabook">Short Films Made to Order</h6>-->
  <!--<p class="address neutrabook">227 N. Market Street | Wilmington, DE 19801</p>-->
  <!--</section>-->
  
  <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
              
<!--</div>-->

{% for post in site.posts | limit: 1 %}

{% unless post.category == "rentals" %}

<article class="top">
	{% if post.video %}
	<iframe src="http://player.vimeo.com/video/{{ post.video }}" width="1280" height="720" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	{% else %}
	<img class="postimage" src="/images/{{ post.image }}" alt="{{ post.image }}">
	{% endif %}
	<a href="{{ post.url }}"><h3 class="league">{{ post.title }}</h3></a>
	<p>{{ post.synopsis }}</p> <p><a href="{{ post.url }}">read post</a></p>
</article>

{% endunless %}

{% endfor %}

<section class="featured">
	
{% for post in site.posts | offset: 1 %}

{% unless post.category == "rentals" %}

<article class="grid">
	{% if post.video %}
	<iframe src="http://player.vimeo.com/video/{{ post.video }}" width="1280" height="720" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	{% else %}
	<img class="postimage" src="/images/{{ post.image }}" alt="{{ post.image }}">
	{% endif %}
	<a href="{{ post.url }}"><h3 class="league">{{ post.title }}</h3></a>
	<p>{{ post.synopsis }}</p> <p><a href="{{ post.url }}">read post</a></p>
</article>

{% endunless %}

{% endfor %}
	
</section>

<section class="more">
	
</section>
