/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

table button, table input {
  *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/*
*
*  Golden Grid System (1.0)	<http://goldengridsystem.com/>
*  by Joni Korpi 				<http://jonikorpi.com/>
*  licensed under MIT			<http://opensource.org/licenses/mit-license.php>
*
*/
/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0; }

/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

b, strong {
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*
*  Simple fluid media
*
*/
figure {
  position: relative; }

figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/*
*
*	Zoomable baseline grid
*	type size presets
*
*/
body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em; }

.small {
  /* 13px / 18px */
  font-size: 0.813em;
  line-height: 1.385em; }

.normal, h3 {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
  /* 24 */ }

.large, h2, h1 {
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.385em; }

.huge, .ie h1, h1 {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.143em; }

.massive {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 1.059em; }

.gigantic {
  /* 110px / 120px */
  font-size: 6.875em;
  line-height: 1.091em; }

/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/
header, #twoway {
  margin: 0 5.556%; }

h1, h2 {
  margin: 0.923em 0 1.385em; }

h2 {
  font-weight: normal; }

h3 {
  margin: 1.5em 0 1.5em; }

/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-8
*/
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/
.ie body {
  width: 40em;
  margin: 0 auto;
  font-size: 1.063em; }

.ie h1 {
  margin: 1.143em 0 0.571em; }

/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em; }

  h1 {
    margin: 1.143em 0 0.571em; } }
/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: 1em; }

  #twoway .wrapper {
    float: left;
    width: 50%; } }
/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em; } }
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em; }

  header, #twoway {
    margin: 0 16.667%; } }
/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em; } }
/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em; }

  header, #twoway {
    margin: 0 27.778%; } }
/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em; } }
/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*
*
*/
/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {
  header, #twoway {
    margin: 0 5.556%; }

  header .wrapper {
    width: 37.5%;
    margin-left: 25%; }

  #twoway .wrapper {
    width: 25%; }

  #twoway .wrapper:first-child {
    margin-left: 25%; } }
/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {
  body {
    /* Zoom baseline grid to 18/16 = 1.125 */
    font-size: 1.125em;
    max-width: 160 em; } }
.input_tiny {
  width: 50px; }

.input_small {
  width: 100px; }

.input_medium {
  width: 150px; }

.input_large {
  width: 200px; }

.input_xlarge {
  width: 250px; }

.input_xxlarge {
  width: 300px; }

.input_full {
  width: 100%; }

.input_full_wrap {
  display: block;
  padding-right: 8px; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"]::-webkit-search-decoration {
  display: none; }

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  top: 0 \0;
  *top: -3px; }

@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px; } }
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle; }

button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 7px 0;
  -moz-box-shadow: #0066ff 0 0 7px 0;
  -o-box-shadow: #0066ff 0 0 7px 0;
  box-shadow: #0066ff 0 0 7px 0;
  z-index: 1; }

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  background: #dddddd url("../images/button.png?1298351022") repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(white, #dddddd);
  background-image: -moz-linear-gradient(white, #dddddd);
  background-image: -o-linear-gradient(white, #dddddd);
  background-image: -ms-linear-gradient(white, #dddddd);
  background-image: linear-gradient(white, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(white, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(white, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(white, #eeeeee 1px, #cccccc);
  background-image: -ms-linear-gradient(white, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(white, #eeeeee 1px, #cccccc); }

button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(white, #dddddd 1px, #eeeeee);
  background-image: -moz-linear-gradient(white, #dddddd 1px, #eeeeee);
  background-image: -o-linear-gradient(white, #dddddd 1px, #eeeeee);
  background-image: -ms-linear-gradient(white, #dddddd 1px, #eeeeee);
  background-image: linear-gradient(white, #dddddd 1px, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -o-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd; }

button {
  *padding-top: 1px;
  *padding-bottom: 1px; }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto; }

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee; }

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default; }

::-webkit-input-placeholder {
  color: #888888; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888; }

input.placeholder_text,
textarea.placeholder_text {
  color: #888888; }

:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

textarea,
select[size],
select[multiple] {
  height: auto; }

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple] {
    background-image: none;
    padding-right: 3px; }

  select,
  select[size="0"],
  select[size="1"] {
    background-image: url("../images/select_arrow.gif?1298351050");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    height: 1.8em; }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px; }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0; } }
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; }

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal; }

.ie6_button,
* html button {
  background: #dddddd url("../images/button.png?1298351022") repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto; }

* html button {
  padding-top: 1px;
  padding-bottom: 1px; }

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top; }

* html select {
  margin-top: 1px; }

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888; }

.ie6_input_disabled {
  background: #eeeeee; }

h1 {
  font-family: "Neutraface2Text TT";
  font-style: normal;
  font-weight: bold; }
  h1 em {
    font-style: italic; }

p {
  font-family: "Neutraface2Text TT Book";
  font-style: normal;
  font-weight: normal; }
  p em, p i {
    font-style: italic; }

h1 {
  font-style: italic; }

nav ul li {
  display: inline-block; }

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* ==|== media queries ====================================================== */
/* ==|== print styles ======================================================= */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
