<nav>
	<div>
	<a href="/"><img id="ktchlogo" src="/kitchenlogo.png"></a>
	<ul class="museo">
		<li><a href="/projects">projects</a></li>
		<li><a href="/ideas">ideas</a></li>
		<li><a href="/work">work</a></li>
		<li><a href="/tools">tools</a></li>
		<li><a href="/contact">contact</a></li>
	</ul>
		
	<a href="http://www.topoftree.jp/en/tree/">
	<aside id="ad">
		<img src="/ads/tree.png" alt="Tree Icon">
		<p>Tree lets you look at your outlines in a whole new way.</p>
	</aside>
	</a>
	
	<p id="adhead">free promotion for folks we love</p>
	
	</div>
</nav>