<nav>
	<div>
	<a href="/"><img id="ktchlogo" src="/kitchenlogo.png"></a>
	<ul class="museo">
		<li><a href="/rentals">rentals</a></li>
	</ul>
    
    <address>Orders?<br><a href="tel:3024645824">302 656 1638</a><br>
        <a href="mailto:line@thekitchen.co">line@thekitchen.co</a><br>
        <a href="http://goo.gl/maps/WRiqa">227 N Market St<br>Wilmington, DE 19801</a>
    </address>
		
	<!--<a href="http://www.topoftree.jp/en/tree/">-->
	<!--<aside id="ad">-->
		<!--<img src="/ads/tree.png" alt="Tree Icon">-->
		<!--<p>Tree lets you look at your outlines in a whole new way.</p>-->
	<!--</aside>-->
	<!--</a>-->
	
	<!--<p id="adhead">free promotion for folks we love</p>-->
	
	</div>
</nav>
