---
layout: tools
---



<article class="gear">
	
	<h2 class="gearhead museo">Camera, Lighting, &amp; Support</h2>
	<ul>
		<li><a href="http://red.com">RED Digital Cinema</a>Epic and Scarlet</li>
		<li><a href="http://www.bhphotovideo.com/c/product/847545-REG/Canon_5260A002_EOS_5D_Mark_III.html">Canon 5D Mark III</a></li>
		<li>Cooke miniS4 Prime Lenses</li>
	</ul>
	
</article>
	
<article class="gear">
	
	<h2 class="gearhead museo">Sound & Music</h2>
	<ul>
		<li><a href="http://www.trewaudio.com/store/Sound-Devices-302-Compact-Production-Mixer.html">Sound Devices 302 Mixer</a></li>
		<li><a href="http://www.trewaudio.com/store/Sound-Devices-702-Digital-Recorder.html">Sound Devices 702 Recorder</a></li>
		<li><a href="http://www.trewaudio.com/sennheiser/mkh416/">Sennheiser MKH-416 Shotgun Mic</a></li>
		<li><a href="http://www.trewaudio.com/store/Sennheiser-EW122-p-G3-Evolution-Wireless.html">Sennheiser Evolution Wireless</a></li>
		<li><a href="http://www.trewaudio.com/store/Sanken-COS-11D-Lavalier-w-TA5F-Connector.html">Sanken COS-11D Lavalier Mic</a></li>
		<li><a href="http://www.trewaudio.com/store/K-Tek-Boompole-K-202CCR-Internal-coiled-cable-right-angle-XLR-base.html">K-Tek Carbon Fiber Boom</a></li>
		<li><a href="http://eluttinger.com">Elizabeth Luttinger - Composer</a></li>
		<li><a href="http://searchdewolfe.com/">Dewolfe Music</a></li>
	</ul>
	
</article>	

<article class="gear" style="clear:both;">
	
	<h2 class="gearhead museo">Software</h2>
	<ul>
		<li>Final Cut</li>
		<li>TextMate</li>
		<li>OmniFocus</li>
		<li>TaskPaper</li>
		<li>Logic</li>
		<li>Google Chrome</li>
		<li>LaunchBar</li>
		<li>After Effects</li>
		<li>Byword</li>
		<li>Fantastical</li>
		<li>xScope</li>
		<li>iTerm 2</li>
		<li>Acorn</li>
		<li>Photoshop</li>
		<li>Illustrator</li>
		<li>ScreenFlow</li>
		<li>Motion</li>
		<li>Transmit</li>
		<li>Sparrow</li>
		<li>1Password</li>
		<li>OmniOutliner</li>
		<li>PathFinder</li>
		<li>Tweetbot</li>
		<li>Caffeine</li>
	</ul>
	
</article>	

<article class="gear">
	
	<h2 class="gearhead museo">Web Services</h2>
	<ul>
		<li>Github</li>
		<li>Basecamp</li>
		<li>Campfire</li>
		<li>Dropbox</li>
		<li>Vimeo Pro</li>
		<li>Harvest</li>
		<li>Slicehost</li>
		<li>Dreamhost</li>
		<li>Heroku</li>
		<li>Wufoo</li>
		<li>Lynda.com</li>
		<li>PeepCode.com</li>
	</ul>
	
</article>

<article class="gear">
	
	<h2 class="gearhead museo">Open Source (Our Heroes)</h2>
	<ul>
		<li>git</li>
		<li>Rails</li>
		<li><a href="https://github.com/boblemarin/jQuery.eraser">jQuery.eraser</a></li>
		<li><a href="http://cubiq.org">Cubiq.org</a></li>
	</ul>
	
</article>

<section class="featured">
	
	<h1 class="museo">Posts &amp; Reviews</h1>

{% for post in site.categories.tools %}

<article class="grid">
	{% if post.video %}
	<iframe src="http://player.vimeo.com/video/{{ post.video }}" width="1280" height="720" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	{% else %}
	<img class="postimage" src="/images/{{ post.image }}" alt="{{ post.image }}">
	{% endif %}
	<a href="{{ post.url }}"><h3 class="league">{{ post.title }}</h3></a>
	<p>{{ post.synopsis }}</p> <p><a href="{{ post.url }}">read post</a></p>
</article>

{% endfor %}

</section>

<section class="more">
	
</section>
