---
layout: default
---

{% if post.video %}
<iframe src="http://player.vimeo.com/video/{{ page.video }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
{% else %}
<img class="postimage" src="/images/{{ page.image }}" alt="{{ post.image }}">
{% endif %}

<section class="post">

<h1 class="posttitle league">{{ page.title }}</h1>

<p class="byline">posted by <a href="/{{ page.author | split: ' ' | last | downcase }}">{{ page.author }}</a>

{{ content }}

<p class="dateline">Posted {{ page.date | date: "%A, %B %d" }}</p>

</section>