---
layout: default
title: Rentals
---

<h1 class="museo">We like <b>nice things</b>.</h1>

<h2 class="museo">Our rental packages are probably nicer than other people's. And probably less expensive. And we'll probably deliver. And there's no sales tax in Delaware. And here are our <a href="https://docs.google.com/spreadsheet/ccc?key=0AgUfyqdmGr0vdEEyNEh4cFZfZG5UakFQNXdpX0dEZWc&usp=sharing" target="_blank">rates</a>. And... That's all.</h2>

<h2 class="museo">Note: We are currently updating our site with features like online reservation and checkout, etc., but for now, you'll just have to <a href="mailto:line@thekitchen.co?Subject=Rental%20Inquiry">email us.</a></h2>

{{ content }}

<section class="more">
	
</section>